:root {
	--color-bg: #16003b;
	--color-cyan: #1b998b;
	--color-magenta: #f73d93;
	--border-radius: 1rem;
}

main * {
	font-family: "Courier New", Courier, monospace;
}

body {
	color: white;
	background-color: var(--color-bg);
}

main {
	text-align: center;
}

.dashboard-block {
	padding: 1rem;
	color: black;
	border-radius: var(--border-radius);
}
