:root {
	--color-bg: #16003b;
	--color-cyan: #1b998b;
	--color-magenta: #f73d93;
	--color-yellow: #dbd053;
	--color-btn: #512da8;
	--color-btn-hover: #1a1f2e;
	--border-radius-lg: 1rem;
	--border-radius-sm: 0.4rem;
}

main * {
	font-family: "Courier New", Courier, monospace;
	box-sizing: border-box;
}

body {
	margin: 0 1rem;
	color: white;
	background-color: var(--color-bg);
}
@media (min-width: 800px) {
	body {
		margin: 0 2rem;
	}
}

main {
	text-align: center;
}

.dashboard-block {
	padding: 1.5rem;
	color: black;
	border-radius: var(--border-radius-lg);
	overflow: auto;
}
.dashboard-block > section > h2 {
	margin-top: 0;
	font-size: 1.4rem;
}

.btn {
	height: 3rem;
	padding: 0 1.5rem;
	color: white;
	background-color: var(--color-btn);
	border: none;
	border-radius: var(--border-radius-sm);
	font-size: 1.2rem;
	font-weight: 600;
	line-height: 3rem;
	vertical-align: top;
	cursor: pointer;
}
.btn:hover {
	background-color: var(--color-btn-hover);
}
.btn:disabled {
	background-color: var(--color-btn-hover);
	cursor: not-allowed;
}

input {
	padding: 0.5rem;
	border: none;
	border-radius: var(--border-radius-sm);
}

.mt {
	margin-top: 1rem;
}
.mb {
	margin-bottom: 1rem;
}
.mr {
	margin-right: 1rem;
}
